@{
    ViewBag.Title = "消息队列管理";
    ViewBag.Module = "消息队列任务列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userActions = ViewBag.UserActions as IEnumerable<TianYu.Core.Common.BaseViewModel.UserPrivilegeViewModel>;
}
<script>
    layui.use(['laydate', 'table', 'jquery', 'form'], function () {
            var laydate = layui.laydate
                , table = layui.table
                , $ = layui.jquery
                , form = layui.form;

            //初始化日期控件
            laydate.render({
                elem: '#CreateBeginTime'
            });
            //初始化日期控件
            laydate.render({
                elem: '#CreateEndTime'
            });

            //初始化表格数据
            table.render({
                elem: '#listTable'
                , toolbar: '#listToolbar'
                , limit:10
                , method: 'POST'
                , where: { }
                , url: '@Url.Action("FindList")' //数据接口
                , page: true //开启分页
                , request: {
                    pageName: 'pageIndex' //页码的参数名称，默认：page
                    , limitName: 'pageSize' //每页数据量的参数名，默认：limit
                }
                , parseData: function (res) { //res 即为原始返回的数据
                    var data = {
                        code: 0, //解析接口状态
                        msg: '', //解析提示文本
                        count: 0, //解析数据长度
                        data: [], //解析数据列表
                    };
                    if (res.Status == 200) {
                        res = res.Data;
                        if (res.Status == 1) {
                            data.count = res.Total;
                            data.data = res.BusinessData;
                        }
                        else {
                            data.code = 1;
                            data.msg = '业务错误：' + res.ErrorMessage + '，' + res.Status;
                        }
                    }
                    else {
                        data.code = 1;
                        data.msg = '请求错误：' + res.ErrorMessage + '，' + res.Status;
                    }

                    return data;
                }
                , cols: [[ //表头
                    { type: 'numbers', title: '#' }
                    , { type: 'checkbox' }
                    , { field: 'Id', title: 'Id', width: 100, align: 'center' }
                    , { field: 'BusinessName', title: '任务名称', width: 280, sort: true, align: 'center' }
                    , { field: 'ApiUrl', title: '请求地址', align: 'center' }
                    , { field: 'RoutingKey', title: '路由地址', width: 180, align: 'center' }
                    , { field: 'Exchange', title: '交换机', width: 180, align: 'center' }
                    , { field: 'QueueName', title: '队列名称', width: 250, align: 'center' }
                    , { field: 'StatusStr', title: '任务状态', width: 100, align: 'center' }
                    , { fixed: 'right', title: '操作', toolbar: '#rowToolbar', width: 220, align: 'center' }
                ]]
            });

            //按条件搜索数据
            form.on('submit(formSearch)', function (data) {
                reloadTable(data.field);
                return false;
            });
            /**
             * 重新加载表格
             * @@param data 条件
             */
          var reloadTable = function (data) {
              if (!data) { data = []; }
              table.reload('listTable', {
                  where: data
                  , page: {
                      curr: 1 //重新从第 1 页开始
                  }
              });
          };
          //监听事件
          table.on('toolbar(listTable)', function (obj) {
              var checkStatus = table.checkStatus(obj.config.id);
              switch (obj.event) {
                  case 'adds':
                      WeAdminShow("新增", "@Url.Action("Adds", "MQBusiness")",800,680);
                      break;
              };
          });

            //监听行工具事件
            table.on('tool(listTable)', function (obj) {
                var data = obj.data;
                if (obj.event == 'edit') {
                    WeAdminShow("编辑", "@Url.Action("Edits")?Id=" + data.Id, 800, 680);
                }
                if (obj.event == 'Detail') {
                    WeAdminShow("查看详情", "@Url.Action("Detail")?Id=" + data.Id, 800, 680);
                }
            });
        });
</script>
<div class="weadmin-body ">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 we-search">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <div class="layui-inline">
                        <label class="layui-form-label">创建时间</label>
                        <div class="layui-input-block">
                            <div class="layui-inline">
                                <input name="CreateBeginTime" id="CreateBeginTime" placeholder="开始时间" class="layui-input search-date-input" autocomplete="off">
                            </div>
                            -
                            <div class="layui-inline">
                                <input name="CreateEndTime" id="CreateEndTime" placeholder="结束时间" class="layui-input search-date-input" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">关键字</label>
                        <div class="layui-input-block">
                            <input type="text" name="Keywords" placeholder="任务名称" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn" lay-submit="" lay-filter="formSearch"><i class="layui-icon">&#xe615;</i></button>
                </div>
            </div>
        </form>
    </div>
    <script type="text/html" id="listToolbar">
        <div class="layui-btn-container">
            @*@if (userActions.Any(a => a.PowerName == "新增"))
                {
                    <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="adds">添加队列</button>
                }*@
            <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="adds">添加队列</button>
        </div>
    </script>
    <script type="text/html" id="rowToolbar">
        <a class="layui-btn layui-btn-xs" lay-event="Detail">查看</a>
        <a class="layui-btn layui-btn-danger layui-icon layui-btn-xs" lay-event="edit">编辑</a>
    </script>
    <table id="listTable" lay-filter="listTable"></table>
</div>

