<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RabbitMQServerConfig" value="192.168.1.241@admin@suwei2018@/;" />
    <!--redis配置，如果有多台redis  格式如下：IP:PORT;........-->
    <add key="RedisServer" value="192.168.1.241:16379" />
    <!--redis配置密码-->
    <add key="RedisPassWord" value="suwei2018" />
    <add key="log4net.Config" value="log4net.config" />
    <add key="log4net.Config.Watch" value="True" />
    <add key="logType" value="FourNetLog" />
    <add key="connectionString" value="server=192.168.1.240,15567;database=TianYuSystemPower;User Id=sa;Password=Suwei2018Db;Max Pool Size=100 " />
    <!--日志类型 Log4Net:FourNetLog    分布式日志收集器:~~~~~~~~~~~~~~-->
    <add key="logType" value="FourNetLog" />
    <!--日志:使用ExceptionLess, 配置-->
    <add key="exceptionlessApiKey" value="4boCwtjFUrNU75BtghYthmQUk52QXC17MJtB3Rgy" />
    <add key="exceptionlessServerUrl" value="http://192.168.1.241:9001" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>