<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!--redis配置，如果有多台redis  格式如下：IP:PORT;........-->
    <add key="RedisServer" value="192.168.1.241:16379" />
    <!--redis配置密码-->
    <add key="RedisPassWord" value="suwei2018" />
    <!--日志类型 Log4Net:FourNetLog    分布式日志收集器:ExceptionLessLog-->
    <add key="logType" value="FourNetLog" />
    <!--日志:使用Log4Net，配置-->
    <add key="log4net.Config" value="log4net.config" />
    <add key="log4net.Config.Watch" value="True" />
    <!--日志:使用ExceptionLess, 配置-->
    <add key="exceptionlessApiKey" value="aBLFKQ5Wi2nvBBAXxIf4iAwoAfigg0qas41uOsei" />
    <add key="exceptionlessServerUrl" value="http://192.168.1.241:9001" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--数据库链接-->
    <add key="TianYuSystemPowerContext" value="server=192.168.1.240,15567;uid=sa;pwd=2018Db;database=SystemPower;MultipleActiveResultSets=True;" />
    
    <!--API接口授权数据库链接-->
    <add key="ApiAuthorizeDatabase" value="server=192.168.1.240,15567;uid=sa;pwd=2018Db;database=SystemPower;MultipleActiveResultSets=True;" />
    <!--白名单-->
    <add key="ApiIpWhiteList" value="127.0.0.1;::1;" />
    <!--阿里短信接口秘钥-->
    <add key="AliAccessKeyID" value="" />
    <add key="AliAccessKeySecret" value="" />
    <!--阿里短信内容模板-->
    <add key="UserRegisterTemplateCode" value="" />
    <add key="ChangePasswordTemplateCode" value="" />
    <add key="IdentityVerifyTemplateCode" value="" />
    <add key="LoginConfirmTemplateCode" value="" />
    <add key="LoginExceptionTemplateCode" value="" />
    <add key="ChangeInfomationTemplateCode" value="" />
    <add key="BindBankCardTemplateCode" value="" />
    <add key="ChangePayPasswordTemplateCode" value="" />

    <!--短信签名-->
    <add key="SmsCodeSignName" value="华中科技" />
    <!--是否测试环境,1=是，0=否-->
    <add key="IsTestEnvironment" value="1" />
    <!--MQ队列-->
    <add key="RabbitMQServerConfig" value="192.168.1.241@admin@/;" />
    <!-- 文件服务器地址-->
    <add key="FileServerUrl" value="http://192.168.1.240:8084" /> 
    <!--用户系统-->
    <add key="UserInfos.WebApi" value="http://192.168.1.240:8086/Api" /> 
  
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>